/* LISTA COLORI UTILIZZATI */
/* Navbar */
/* color:#2c3e50; */
/* Jumbo */
/* color:#1abc9c; */
/* Footer top*/
/* color:#3a546d; */
/* Footer bottom */
/* color:#2c3e50; */
/* Testo blu scuro */
/* color:#2c3e50; */
/* Righe input sezione contact */
/* color: #e3e3e3; */

/* /LISTA COLORI UTILIZZATI */

/* SFONDI, COLORI E CENTRATURA TESTO TESTO - PERSONALIZZAZIONE */
.background-white{
  background-color: #ffffff;
  color: #2c3e50;
  text-align: center;
}

.background-turchese{
  background-color: #1abc9c;
  color: #ffffff;
  text-align: center;
}

.background-lightblue{
  background-color: #3a546d;
  color: #ffffff;
  text-align: center;
}

.background-darkblue{
  background-color: #2c3e50;
  color: #ffffff;
  text-align: center;
}
/* /SFONDI E COLORI TESTO - PERSONALIZZAZIONE */


/* UTILITIES */
.txt-left{
  text-align: left;
}
.txt-center{
  text-align: center;
}

/* Colora sfondo bottone di turchese */
.btn-fill-turchese{
  background-color: #1abc9c;
  border-radius: 5px;
  color:white;
  padding: 5px;
}
/* Rendi trasparente bottone */
.btn-transparent-inside{
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
  border-radius: 5px;
}

/* Contenitore vuoto a forma di cerchio */
.transparent-inside-circle{
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}
/* UTILITIES */

/* NAVBAR - DA FARE */
.bl-navbar{
  height: 80px;
  margin-bottom:0px;
}

/* FASCIA JUMBOTRON */

/* Azzera padding jumbotron */
.bl-jumbotron{
  padding-bottom: 0px;
}

/* /DEBUGG */

/* Imposta larghezza immagine avatar */
.bl-img-avatar{
  width: 50%;
  height: auto;
}


/* Modifica testo al lead del Jumbotron Bootstrap */
.jumbotron .bl-lead{
  font-size: 16px;
  font-weight: 500;
}

/* Stile h1 */
.container-fluid h1, .container h1{
  font-weight: bold;
  font-size: 28px;
}

/* Stile h2 */
.container-fluid h2, .container h2{
  font-size:20px;
  font-weight: 700;
}

/* Separatore stellina */
.star-sep{
  font-size:30px;
  margin: 15px 0;
}
/* Riga separatrice stellina */
.star-sep::before, .star-sep::after{
  position: relative;
  bottom:2px;
  display: inline-block;
  height: 4px;
  width: 50px;
  line-height: 4px;
  vertical-align: middle;
  content:"";
  border-radius: 2px;
}
/* Riga separatrice stellina - bianca */
.star-sep.star-white::before, .star-sep.star-white::after{
  background-color: #ffffff;
}

/* Riga separatrice stellina - dark blue */
.star-sep.star-darkblue::before, .star-sep.star-darkblue::after{
  background-color: #2c3e50;
}

/* /FASCIA JUMBOTRON */


/* FASCIA PORTFOLIO */

/* Padding di sezione Portfolio */
.bl-portfolio{
  padding-bottom: 30px;
}

/* Contenitore immagini portfolio */
.bl-portfolio .bl-cornice-img{
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* /FASCIA PORTFOLIO */

/* FASCIA ABOUT */
.bl-about button{
  margin: 30px 0;
}

/* /FASCIA ABOUT */

/* FASCIA INPUTS */

/* Paddding sezione bl contact */
.bl-contact{
  margin-bottom:20px;
}

/* Personalizzazione input e textarea */
.bl-contact input, .bl-contact textarea {
  width: 70%;
  border: 0px;
  border-bottom: 1px solid #e3e3e3;
}

.bl-contact input, .bl-contact textarea{
  line-height: 40px;
}

.bl-contact input::placeholder, .bl-contact textarea::placeholder{
  color: #3a546d;
  font-weight: 550;
}

.bl-contact textarea{
  color:#3a546d ;
}
/* /Personalizzazione input e textarea */

/* /FASCIA INPUTS */

/* .container, .container-fluid{
  padding-bottom: 10px;
} */
